<template>
    <html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <title>RMS Vue.js Primer</title>

            <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        </head>
        <body class="bg-grey-lightest h-screen antialiased h-full">
            <div id="app" class="flex flex-col">
                <div class="flex items-center justify-center py-8 text-red-light text-2xl">
                    <i class="fab fa-cloudversify text-3xl"></i>
                    <span class="ml-2">Purvue</span>
                </div>
                <tasks/>
            </div>
        </body>
    </html>
</template>

<script>
import Tasks from './Tasks';

export default {
    components: {
        Tasks,
    },
};
</script>

<style scoped>
/* styles here.... */
</style>

