<template>
    <div class="flex py-4">
        <div class="flex flex-none items-center text-grey">
            <slot name="stats"></slot>
        </div>
        <div class="flex flex-1 justify-end">
            <template v-for="filter in filters">
                <div v-if="filter === activeFilter" :key="filter" class="bg-grey-dark text-white border-2 border-transparent rounded px-2 py-1 text-xs uppercase tracking-wide font-bold ml-2">{{ filter }}</div>
                <div v-else @click="onFilterChange(filter)" :key="filter" class="border-2 border-grey-dark rounded px-2 py-1 text-xs uppercase tracking-wide font-bold text-grey-dark ml-2 cursor-pointer hover:bg-grey-dark hover:text-white hover:border-transparent">{{ filter }}</div>
            </template>
        </div>
        <div class="flex flex-none justify-end ml-2">
            <slot name="sorting"></slot>
        </div>
    </div>
</template>

<script>
const FILTERS = [
    'All',
    'Complete',
    'Incomplete',
];

export default {
    beforeMount() {
        this.onFilterChange(_.first(FILTERS));
    },

    data() {
        return {
            filters: FILTERS,
        };
    },

    methods: {
        onFilterChange(filter) {
            this.$emit('filter-change', filter);
        }
    },

    props: {
        activeFilter: {
            type: String,
        },
    },
};
</script>

<style scoped>
/* styles here.... */
</style>
