<template>
    <section class="w-2/3 mx-auto">
        <form @submit.prevent="onNewTaskFormSubmit" action="#">
            <div class="flex">
                <input v-model="newTaskName" :placeholder="newTaskNamePlaceholder" type="text" class="border-2 border-grey focus:border-grey-dark rounded bg-white py-2 px-4 outline-none w-full flex-1">
                <button v-if="!!this.newTaskName.length" class="bg-green-light px-4 flex-none rounded ml-4 hover:bg-green">
                    <i class="fas fa-plus text-white"></i>
                </button>
            </div>
        </form>
        <div class="flex items-center">
            <filters :active-filter="activeFilter" @filter-change="onFilterChange" class="flex-1">
                <template slot="stats">
                    <i class="fas fa-chart-line text-sm"></i>
                    <span class="ml-1 uppercase font-bold tracking-wide text-xs">{{ percentComplete }}%</span>
                </template>
                <template slot="sorting">
                    <div v-if="sortByCompleted" @click="sortByCompleted = !sortByCompleted" class="bg-grey-dark text-white border-2 border-transparent rounded px-2 py-1 text-xs uppercase tracking-wide font-bold ml-2 cursor-pointer hover:border-grey-dark hover:bg-transparent hover:text-grey-dark">
                        <i class="fas fa-sort-amount-down"></i>
                    </div>
                    <div v-else @click="sortByCompleted = !sortByCompleted" class="text-grey-dark border-2 border-grey-dark rounded px-2 py-1 text-xs uppercase tracking-wide font-bold ml-2 cursor-pointer hover:border-transparent hover:bg-grey-dark hover:text-white">
                        <i class="fas fa-sort-amount-down"></i>
                    </div>
                </template>
            </filters>
        </div>
        <div class="flex flex-col overflow-hidden rounded">
            <task v-for="(task, index) in filteredAndSortedTasks" :task="task" @delete-task="onDeleteTask" @toggle-task-completed="onToggleTaskCompleted" :key="index"></task>
            <div v-if="!filteredTasks.length" class="flex items-center justify-center mt-16 text-grey">
                <i class="far fa-sad-cry"></i>
                <span class="ml-4 uppercase tracking-wide font-bold text-xs">So much nothing...</span>
            </div>
        </div>
    </section>
</template>

<script>
import _ from 'lodash';

import Filters from './Filters';
import Task from './Task';

export default {
    components: {
        Filters,
        Task,
    },

    computed: {
        completeTasks() {
            return _.filter(this.tasks, {completed: true});
        },

        filteredTasks() {
            switch(this.activeFilter) {
                case 'Complete':
                    return this.completeTasks;
                case 'Incomplete':
                    return this.incompleteTasks;
            };

            return this.tasks;
        },

        filteredAndSortedTasks() {
            return this.sortByCompleted ? _.sortBy(this.filteredTasks, 'completed') : this.filteredTasks;
        },

        incompleteTasks() {
            return _.filter(this.tasks, {completed: false});
        },

        newTaskNamePlaceholder() {
            return `What ${!!this.incompleteTasks.length ? 'else ' : ''}do you need to get done?`
        },

        percentComplete() {
            return Math.floor(!!this.tasks.length ? (this.completeTasks.length / this.tasks.length) * 100 : 0);
        },
    },

    data() {
        return {
            activeFilter: '',
            newTaskName: '',
            sortByCompleted: false,
            tasks: [],
        };
    },

    methods: {
        onDeleteTask(task) {
            const index = this.tasks.indexOf(task);

            this.$delete(this.tasks, index);
        },

        onFilterChange(filter) {
            this.activeFilter = filter;
        },

        onNewTaskFormSubmit() {
            if(!this.newTaskName.length) {
                return;
            }

            this.tasks.push({
                completed: false,
                name: this.newTaskName,
            });
            this.newTaskName = '';
        },

        onToggleTaskCompleted(task) {
            task.completed = !task.completed;
        },
    },
};
</script>

<style scoped>
/* styles here.... */
</style>
