<template>
    <article v-if="task.completed" class="task">
        <div class="bg-grey-darkest flex items-center text-green">
            <i @click="toggleTaskCompleted(task)" class="fas fa-check-circle flex-none hover:text-grey-dark cursor-pointer text-xl p-4" />
            <div class="flex-1 font-semibold tracking-wide">{{ task.name }}</div>
            <i @click="deleteTask(task)" class="far fa-trash-alt flex-none text-grey-dark hover:text-red cursor-pointer p-4" />
        </div>
    </article>
    <article v-else class="task">
        <div class="bg-grey-darker flex items-center text-grey-light">
            <i @click="toggleTaskCompleted(task)" class="fas fa-check-circle flex-none text-grey-dark hover:text-green cursor-pointer text-xl p-4" />
            <div class="flex-1 font-semibold tracking-wide">{{ task.name }}</div>
            <i @click="deleteTask(task)" class="far fa-trash-alt flex-none text-grey-dark hover:text-red cursor-pointer p-4" />
        </div>
    </article>
</template>

<script>
export default {
    methods: {
        deleteTask(task) {
            this.$emit('delete-task', task);
        },

        toggleTaskCompleted(task) {
            this.$emit('toggle-task-completed', task);
        },
    },

    props: {
        task: {
            required: true,
            type: Object,
        },
    },
};
</script>

<style scoped>
/* styles here.... */
</style>
