<template>
    <div class="flex flex-col">
        <div class="flex items-center justify-center py-8 text-red-light text-2xl">
            <i class="fab fa-cloudversify text-3xl"></i>
            <span class="ml-2">Purvue</span>
        </div>
        <tasks/>
    </div>
</template>

<script>
import Tasks from './Tasks';

export default {
    components: {
        Tasks,
    },
};
</script>

<style scoped>
/* styles here.... */
</style>

